<div class='text-center'>
  <button class='text-center border rounded p-2 m-2' type="button" {{ on 'click' (fn this.showInputs true)}}>Schedule A Time:</button>
</div>
{{#if this.showForm}}
  <SlotForm @newSlot={{true}} @activityName={{this.activityName}} @date={{this.date}}
  @startTime={{this.startTime}} @endTime={{this.endTime}} @numMaxGuests={{this.numMaxGuests}} />
  <div class='text-center'>
    <button class='text-center border rounded p-2 m-2' type="button"
    {{ on 'click' (fn this.showInputs false)}}>Cancel</button>
  </div>

{{/if}}


<div class='text-center'>
  <button class='text-center border rounded p-2 m-2' type="button" {{ on 'click' (fn this.showCal true)}}>My Calendar</button>
</div>

{{#if this.showSchedule}}
  {{#unless this.records}}
  <div class='text-center'>You don't have any bookings yet</div>
  {{/unless}}
  <div class='flex flex-col'>
  {{#each this.records as |slot|}}
  {{#unless slot.deleted}}
    {{#if (eq this.editingSlot slot)}}
      <SlotForm @slot={{slot}} @newSlot={{false}}/>
      <button type="button" {{on 'click' this.stopEditing}}>Clear</button>
    {{else}}
    <div class='border p-4 flex flex-row'>
        <div class='p-2'>{{slot.activityName}}</div>
        <div class='p-2'>{{slot.date}}</div>
        <div class='p-2'>{{slot.startTime}}</div>
        <div class='p-2'>{{slot.endTime}}</div>
        <div class='p-2'>{{slot.numMaxGuests}}</div>
        {{#if slot.isDeleted}}
          <div>Cancelled</div>
        {{else}}
          <button class='p-2' type="button" {{on 'click' (fn this.editSlot slot)}}>Edit</button>
          <button class='p-2' type="button"{{on 'click' (fn this.deleteSlot slot)}}>Delete</button>
        {{/if}}
    </div>
    {{/if}}
    {{/unless}}
  {{/each}}
  </div>
{{/if}}