<div class='m-4 flex flex-col lg:flex-row place-items-center border'>
  <div class='text-center p-2 m-2'>
    Activity:
    <Input @type='text' class='border' @value={{this.activityName}} data-test='activity'/>
  </div>
  <div class='text-center p-2 m-2'>
    Date:
  <EmberFlatpickr
    class="border"
    data-test='date'
    placeholder="Choose a Date"
    @date={{this.date}}
    @enableTime={{false}}
    @noCalendar={{false}}
    @onChange={{this.onChange}}
  />
  </div>
    <div class='text-center p-2 m-2'>
      Start Time:
      <EmberFlatpickr
      class="border"
      data-test='startTime'
      placeholder="Pick time"
      @date={{this.startTime}}
      @onChange={{this.onStartTimeChange}}
      @enableTime={{true}}
      @noCalendar={{true}}
      @dateFormat="H:i"
    />
    </div>

    <div class='text-center p-2 m-2'>
      End Time:
      <EmberFlatpickr
      class="border"
      data-test='endTime'
      @date={{this.endTime}}
      @onChange={{this.onEndTimeChange}}
      placeholder="Pick time"
      @enableTime={{true}}
      @noCalendar={{true}}
      @dateFormat="H:i"
    />
    </div>

  <div class='text-center p-2 m-2'>
    Number of Guests:
    <Input @type='text' class="border" @value={{this.numMaxGuests}} data-test='guests'/>
  </div>

  <div class='text-center m-2'>
    <button class='text-center border rounded p-2 m-2' type="button" {{ on 'click' (fn this.save true)}} data-test='save'>{{this.direction}}</button>
  </div>
</div>
